.random__container {
    height: 90vh;
    color: var(--color-white);
}

.random {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random__checkboxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0;
}

.random__checkbox_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}

.random__checkbox_container span {
    font-size: 1.2em;
    margin-left: 5px;
}

.random__checkbox_container span::first-letter {
    text-transform: uppercase;
}

.checkbox {
    display: none;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 30px;
    height: 30px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}

.check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}

.check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}

.check:hover:before {
    opacity: 1;
}

.check:hover svg {
    stroke: var(--color-red);
}

.checkbox:checked + .check svg {
    stroke: var(--color-red);
}

.checkbox:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}

.checkbox:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

.random__form__info {
    width: 50%;
    font-size: .8rem;
    color: var(--color-white);
}

.random__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.random__button button {
    background-color: var(--color-red);
    color: var(--color-white);
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.random__no__dish {
    display: flex;
    justify-content: center;
    align-items: center;
}

.random__dish {
    width: 50%;
    margin-top: 100px;
    min-height: 200px;
    border-radius: 25px;
    padding: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #ededed;
    position: relative;
    transition: 0.5s ease-in-out;
}

.random__dish h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: var(--color-red);
}

.random__dish p:nth-of-type(1) {
    color: var(--color-black);
    font-size: 1.1em;
    margin: 15px 0 30px;
}

.random__dish p:nth-of-type(2) {
    font-size: 1.5em;
    color: var(--color-red);
    position: absolute;
    bottom: 10px;
    right: 20px;
}