.dish__container {
    background: var(--color-white);
    width: 18rem;
    height: 23rem;
    padding: 10px 2rem 20px;
    border-radius: 10px;
    border-bottom: 4px solid var(--color-black);
    position: relative;
}

.dish__container h2 {
    margin-bottom: 15px;
    font-size: 1.45rem;
    font-weight: bold;
}

.dish__etiquet__price {
    position: relative;
    background: var(--color-red);
    width: 17.5rem;
    margin-left: -0.65rem;
    padding: 0.2rem 1.2rem;
    border-radius: 5px 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.dish__etiquet__price p {
    margin: 0;
    padding-top: 0.4rem;
    display: flex;
    font-size: 1.9rem;
    font-weight: 500;
    color: var(--color-white);
}


.dish__etiquet__price p:after {
    content: "€";
    margin-left: 5px;
    font-size: 15px;
    font-weight: 300;
}

.dish__etiquet__price div {
    position: absolute;
    bottom: -22px;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 13px solid var(--color-red-dark);
    border-bottom: 10px solid transparent;
    border-right: 14px solid transparent;
}

.dish__descr__container {
    margin-top: 1.5rem;
    font-size: 1.1rem;
}

.dish__order__container {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
}

.dish__order__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7rem;
    height: 2.5rem;
}

.dish__order__input button {
    width: 2rem;
    height: 2rem;
    border: none;
    background: var(--color-red);
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.dish__order__input button:active {
    background: var(--color-red-dark);
}

.dish__order__input button:first-of-type {
    border-radius: 5px 0 0 5px;
}

.dish__order__input button:last-of-type {
    border-radius: 0 5px 5px 0;
}

.dish__order__input p {
    font-size: 1.4rem;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .dish__container {
        transform: scale(0.95);
    }

    .dish__order__input button:hover {
        background: var(--color-red);
    }

    .dish__order__input button:active {
        background: var(--color-red-dark);
    }
}

