.top__button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-red);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.top__button:active {
    transform: scale(0.9);
    background-color: var(--color-red-dark);
}

.top__button svg {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 768px) {
    .top__button {
        right: 5px;
        bottom: 5px;
    }
}
