.contact__container {
    height: 100vh;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__content, .animCar {
    background-color: var(--color-white);
    border-radius: 25px;
}

.contact__content {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.animCar {
    border: 1px solid var(--color-gray);
}