/* Global Header Settings */
.header {
    height: 100vh;
    width: 100% !important;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0;
}

.header_overlay {
    color: #fff;
}

/* Home Header styles */
.header_overlay_home {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header_overlay_home h2 {
    font-size: 3rem;
}

.header_overlay_home p {
    margin: 10px 0;
    text-align: center;
    width: 70%;
    font-size: 1.5rem;
}

.header_overlay_home button {
    margin-top: 1rem;
    padding: 1rem 1.8rem;
    background-color: #e20f2f;
    border: none;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 1.1rem;
    z-index: 1;
}

.header_overlay_home button:hover {
    color: #fff;
    letter-spacing: 0;
    transform: scale(1.1);
}

.cnv {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
}

/* Dishes Header styles */
.header_overlay_dishes {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_overlay_dishes button {
    background: rgba(0, 0, 0, 0.822);
    color: #fff;
    border: none;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.header_overlay_dishes button:hover {
    transform: scale(0.9);
    color: #e20f2f;
}

.header_overlay_dishes ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.header_overlay_dishes span {
    font-size: 1rem;
}

.header_overlay_dishes svg {
    font-size: 50px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 880px) {
    .header_overlay_dishes ul {
        grid-template-columns: repeat(3, 1fr);
    }

    .header_overlay_dishes button {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 700px) {
    .header_overlay_home h2 {
        font-size: 2rem;
    }
    
    .header_overlay_home p {
        font-size: 1rem;
    }
    
    .header_overlay_home button {
        font-size: 1rem;
    }

    .header_overlay_dishes ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .header_overlay_dishes button {
        width: 150px;
        height: 150px;
    }
    
    .header_overlay_dishes span {
        font-size: 0.8rem;
    }
    
    .header_overlay_dishes svg {
        font-size: 40px;
    }
}

@media screen and (max-width: 550px) {}

/*TODO
• Add media queries for mobile
*/



