/* NAVBAR */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: 2;
}

.navbar__content {
    width: 98%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.navbar__logo {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 4rem;
    margin-top: 20px;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
}

.show__navbar .navbar__logo {
    color: #000;
}

.navbar__logo span {
    font-size: 1.8rem;
    margin-left: 5px;
    color: #e20f2f;
}

/*HERE*/
/* .navbar__burger {
    display: block;
    position: relative;
    margin-top: 18px;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.navbar__burger__bar {
    display: block;
    width: 45px;
    height: 4px;
    background-color: #fff;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}

.show__navbar .navbar__burger__bar {
    width: 0;
    background: transparent;
}

.navbar__burger__bar::before,
.navbar__burger__bar::after {
    content: "";
    width: 45px;
    height: 4px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    left: 0;
    transition: all 0.5s ease-in-out;
}

.navbar__burger__bar::before {
    transform: translateY(-15px);
}

.navbar__burger__bar::after {
    transform: translateY(15px);
}

.show__navbar .navbar__burger__bar::before,
.show__navbar .navbar__burger__bar::after {
    background: #000;
}

.show__navbar .navbar__burger__bar::before {
    transform: rotate(45deg);
}

.show__navbar .navbar__burger__bar::after {
    transform: rotate(-45deg);
} */

/**/
.navbar__hamburger {
    cursor: pointer;
    margin-top: 25px; /*TODO media*/
}

.navbar__hamburger input {
    display: none;
}

.navbar__hamburger svg {
    height: 4em; /*TODO media */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line__top__bottom {
    stroke-dasharray: 12 63;
}

.navbar__hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.navbar__hamburger input:checked + svg .line__top__bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/*HERE*/

.navbar__nav {
    position: absolute;
    height: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    box-shadow: 5px 5px 15px rgb(38, 57, 77);
}

.show__navbar .navbar__nav {
    visibility: visible;
    height: 100vh;
}

.navbar__nav ul {
    position: absolute;
    font-size: 30px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    left: -1000px;
    margin-top: 1rem;
}

.show__navbar .navbar__nav ul {
    left: 5rem;
}
.navbar__nav li {
    width: 200px; /* media */
    display: flex;
    justify-content: space-between;
}

.navbar__nav span {
    margin-left: 15px;
}

.navbar__nav a:hover {
    color: #e20f2f;
    letter-spacing: 1px;
}

@media screen and (max-width: 550px) {
    .navbar__logo {
        font-size: 0.8rem;
    }

    .navbar__logo span {
        font-size: 0.8rem;
    }

    .navbar__burger__bar {
        width: 35px;
        height: 2px;
    }

    .navbar__burger__bar::before,
    .navbar__burger__bar::after {
        width: 35px;
        height: 2px;
    }

    .navbar__burger__bar::before {
        transform: translateY(-10px);
    }

    .navbar__burger__bar::after {
        transform: translateY(10px);
    }

    .navbar__nav ul {
        position: initial;
        transform: translate(10%, 15%);
        font-size: 1.3em;
        justify-content: space-evenly;
        margin-top: 0;
    }

    .show__navbar .navbar__nav ul {
        left: 50px;
    }
}

/*TODO
• optimize media queries
*/
