.footer {
    width: 95%;
    height: 30px;
    margin: 0 auto;
}

.footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .footer a {
        font-size: .8rem;
    }
}

@media screen and (max-width: 480px) {
    .footer a {
        font-size: .6rem;
    }
}