@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    transition: 0.1s ease-in-out;
}

a:hover {
    color: #e20f2f;
    letter-spacing: 1px;
}

img {
    width: 100%;
}

html {
    font-size: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    width: 100%;
}

#root {
    position: relative;
    width: 100%;
    overflow: hidden;
}
